# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/
.eggs/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Anaconda / Conda
.conda/
conda-meta/

# NX
.nx/cache
node_modules/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
